## encoding: utf-8
<%

import random

choices = [u'Enterez', u'Anna', u'Lag', u'Shkruani', u'Idatzi', u'Entra', u'Unesite', u'Vstupte', u'Indtast', u'Entajpu', u'Märkida', u'Ipasok', u'Entre', u'Geben Sie', u'Antre', u'Írja be', u'Sláðu inn', u'Masukkan', u'Cuir isteach', u'Intrare', u'Ievadiet', u'Registruotis', u'Внесете', u'Masuk', u'Ikteb', u'Wejść', u'Intră', u'Унесите', u'Vstúpte', u'Vnesite', u'Kuingia', u'ใส่', u'Girin', u'Nhập', u'Rhowch']
label = random.choice(choices)

%>
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="${web.url('/css/style.css')}">
        
        <script src="${web.url('/js/libs/modernizr-2.5.3.min.js')}"></script>
    </head>
    <body>
        <header>
            <h1><span class="q">Q</span>uorum</h1>
            <h2>Collaborative decision making.</h2>
        </header>
        
        <section>
            <form>
                <input type="text" name="handle" placeholder="Identity" autofocus>
                <input type="password" name="password" placeholder="Password">
                <button class="default" style="width: 120px;">${label}!</button>
                <div>To participate, sign in using your user name and password or <a href="#">browse public issues</a>.</div>
            </form>
        </section>
        
        <footer>
        </footer>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="${web.url('/js/libs/jquery-1.7.1.min.js')}"><\/script>')</script>
        
        <script src="${web.url('/js/plugins.js')}"></script>
        <script src="${web.url('/js/script.js')}"></script>
    </body>
</html>
